In [1]:
import pandas as pd
import numpy as np
import requests
import re
import urllib.parse
import matplotlib.pyplot as plt
import seaborn as sns

## Official Joke API

Generates random jokes (from jokes submitted to API)

[Documentation](https://github.com/15Dkatz/official_joke_api)

In [2]:
##baseurl
base_url = "https://official-joke-api.appspot.com/"

#### 10 random jokes

In [3]:

# endpoint for 10 random jokes
endpoint = 'random_ten'
url = base_url + endpoint

In [4]:
## What does it look like if you visit this url?
url

'https://official-joke-api.appspot.com/random_ten'

In [5]:
r = requests.get(url)

In [6]:
r.status_code

200

In [6]:
r.json()

[{'type': 'general',
  'setup': 'How did Darth Vader know what Luke was getting for Christmas?',
  'punchline': 'He felt his presents.',
  'id': 117},
 {'type': 'general',
  'setup': 'What did Romans use to cut pizza before the rolling cutter was invented?',
  'punchline': 'Lil Caesars',
  'id': 166},
 {'type': 'programming',
  'setup': "What's the best part about TCP jokes?",
  'punchline': 'I get to keep telling them until you get them.',
  'id': 369},
 {'type': 'general',
  'setup': 'What did the digital clock say to the grandfather clock?',
  'punchline': 'Look, no hands!',
  'id': 171},
 {'type': 'general',
  'setup': 'What do you call a cow with no legs?',
  'punchline': 'Ground beef.',
  'id': 198},
 {'type': 'general',
  'setup': 'What do you call a group of killer whales playing instruments?',
  'punchline': 'An Orca-stra.',
  'id': 212},
 {'type': 'general',
  'setup': 'What did the beaver say to the tree?',
  'punchline': "It's been nice gnawing you.",
  'id': 168},
 {'type': 'general',
  'setup': "What is a vampire's favorite fruit?",
  'punchline': 'A blood orange.',
  'id': 246},
 {'type': 'general',
  'setup': 'How come the stadium got hot after the game?',
  'punchline': 'Because all of the fans left.',
  'id': 116},
 {'type': 'general',
  'setup': 'Why was Cinderalla thrown out of the football team?',
  'punchline': 'Because she ran away from the ball.',
  'id': 380}]

In [7]:
pd.json_normalize(r.json())

,type,setup,punchline,id
0,general,How did Darth Vader know what Luke was getting...,He felt his presents.,117
1,general,What did Romans use to cut pizza before the ro...,Lil Caesars,166
2,programming,What's the best part about TCP jokes?,I get to keep telling them until you get them.,369
3,general,What did the digital clock say to the grandfat...,"Look, no hands!",171
4,general,What do you call a cow with no legs?,Ground beef.,198
5,general,What do you call a group of killer whales play...,An Orca-stra.,212
6,general,What did the beaver say to the tree?,It's been nice gnawing you.,168
7,general,What is a vampire's favorite fruit?,A blood orange.,246
8,general,How come the stadium got hot after the game?,Because all of the fans left.,116
9,general,Why was Cinderalla thrown out of the football ...,Because she ran away from the ball.,380

#### Joke by id

In [8]:
## endpoint for joke by id

endpoint = 'jokes/25'
r = requests.get(base_url+endpoint)
r.ok

True

In [9]:
r.json()

{'type': 'programming',
 'setup': 'How many programmers does it take to change a lightbulb?',
 'punchline': "None that's a hardware problem",
 'id': 25}

## Zippopotam API

Postal code lookup.

Endpoints:
* Places by postal code `/{country}/{postalcode}`
* Postal codes by place `/{country}/{state}/{place}`
* Places near postal code `/nearby/{country}/{postalcode}`

[Documentation](https://docs.zippopotam.us/docs/getting-started/) and also [this page](https://www.zippopotam.us/)

In [10]:
base_url = 'https://api.zippopotam.us'

#### places by postal code

In [11]:
# places by postal code
options = ["us", "84602"] # ["county", "postalcode"]
url = f"{base_url}/{'/'.join(options)}"
url

'https://api.zippopotam.us/us/84602'

In [12]:
r = requests.get(url)
r.ok

True

In [13]:
r.json()

{'post code': '84602',
 'country': 'United States',
 'country abbreviation': 'US',
 'places': [{'place name': 'Provo',
   'longitude': '-111.7325',
   'state': 'Utah',
   'state abbreviation': 'UT',
   'latitude': '40.3563'}]}

#### Postal codes by place

In [14]:
options = ["us", "tx", "houston"]

## This line will ensure that the url is formed correctly (for example if there are spaces)
encoded_options = [urllib.parse.quote(option) for option in options]
url = f"{base_url}/{'/'.join(encoded_options)}"
r = requests.get(url)
r.ok

True

In [15]:
r.json().keys()

dict_keys(['country abbreviation', 'places', 'country', 'place name', 'state', 'state abbreviation'])

In [16]:
pd.json_normalize(r.json().get('places'))

        place name longitude post code latitude
0          Houston  -95.3098     77001  29.8131
1          Houston  -95.3594     77002  29.7594
2          Houston  -95.3391     77003  29.7489
3          Houston  -95.3625     77004  29.7247
4          Houston  -95.4263     77005  29.7179
..             ...       ...       ...      ...
188        Houston  -95.4342     77297   29.834
189        Houston  -95.4342     77298   29.834
190        Houston  -95.4342     77299   29.834
191  North Houston  -95.4342     77315   29.834
192  South Houston  -95.2258     77587  29.6601

[193 rows x 4 columns]

In [17]:
## Try another place
options = ["us", "mo", "saint louis"]

## This line will ensure that the url is formed correctly (for example if there are spaces)
encoded_options = [urllib.parse.quote(option) for option in options]
url = f"{base_url}/{'/'.join(encoded_options)}"
r = requests.get(url)
print(r.status_code)
print(r.url)

200
https://api.zippopotam.us/us/mo/saint%20louis

In [19]:
pd.json_normalize(r.json().get('places'))

          place name longitude post code latitude
0        Saint Louis  -90.1913     63101  38.6346
1        Saint Louis  -90.1864     63102  38.6352
2        Saint Louis  -90.2164     63103  38.6332
3        Saint Louis  -90.2185     63104  38.6128
4        Saint Louis  -90.3264     63105  38.6459
..               ...       ...       ...      ...
68       Saint Louis  -90.2435     63196  38.6531
69       Saint Louis  -90.2435     63197  38.6531
70       Saint Louis  -90.4271     63198  38.6383
71       Saint Louis  -90.2435     63199  38.6531
72  Lake Saint Louis  -90.7854     63367  38.7936

[73 rows x 4 columns]

## Free Geocoding API

[Documentation](https://geocode.maps.co/)

* The endpoints show that the query parameters should be entered as url parameters (indicated by the `?` in the url)
* We can easily specify the query options using the `params` argument in the `.get` method
* In order to do this, set up a dictionary such that 
    * the key is the parameter name (indicated in the documentation)
    * the value is the our query choice
* `requests.get()` will automatically make sure that our parameters are formatted into valid urls

Endpoints:
* Forward geocode (`https://geocode.maps.co/search?q={address}`)

In [18]:
base_url = "https://geocode.maps.co"
forward = '/search'

params = {'q':'709 Smith Road Fremont OH 43420'}

r = requests.get(base_url + forward, params = params)
print(r.status_code)
print(r.url)

200
https://geocode.maps.co/search?q=709+Smith+Road+Fremont+OH+43420

In [19]:
r.json()

[{'place_id': 329359446,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'way',
  'osm_id': 19246248,
  'boundingbox': ['41.256786', '41.3410948', '-83.092023', '-83.0900001'],
  'lat': '41.299294',
  'lon': '-83.091367',
  'display_name': 'Smith Road, Fremont, Sandusky County, Ohio, 43420, United States',
  'class': 'highway',
  'type': 'tertiary',
  'importance': 0.6200099999999998}]

Endpoints
* Reverse geocode (`https://geocode.maps.co/reverse?lat={latitude}&lon={longitude}`)

In [20]:
reverse = '/reverse'

params = {'lat': '41.299294', 'lon': '-83.091367'}

r = requests.get(base_url + reverse, params = params)
print(r.status_code)
print(r.url)

401
https://geocode.maps.co/reverse?lat=41.299294&lon=-83.091367

In [21]:
r.json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

## NASA APOD API

[NASA APIs](https://api.nasa.gov/).  
* Sign up for an API key by filling out the form
* Check your email for the API key
* Create a .txt file and save *just the text of the api key* in the file
    * For example, in the code below, my API key is saved in a file called "`nasa_api_key.txt`"

#### APOD Query Parameters

| Parameter   | Type        | Default   | Description                                                                                                      |
|-------------|-------------|-----------|------------------------------------------------------------------------------------------------------------------|
| date        | YYYY-MM-DD  | today     | The date of the APOD image to retrieve                                                                           |
| start_date  | YYYY-MM-DD  | none      | The start of a date range, when requesting date for a range of dates. Cannot be used with date.                   |
| end_date    | YYYY-MM-DD  | today     | The end of the date range, when used with start_date.                                                            |
| count       | int         | none      | If this is specified then count randomly chosen images will be returned. Cannot be used with date or start_date and end_date. |
| thumbs      | bool        | False     | Return the URL of video thumbnail. If an APOD is not a video, this parameter is ignored.                          |
| api_key     | string      | DEMO_KEY  | api.nasa.gov key for expanded usage                                                                              |

Example query:
```
https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY
```

In [27]:
base_url = "https://api.nasa.gov/planetary/apod"

In [28]:
# set the text of my api key to a variable called `nasa_key`
with open('nasa_api_key.txt', 'r') as file:
    nasa_key = file.read()

Let's query all the APODs from Oct 1, 2023 - Oct 7, 2023
* The documentation specifies that query parameters should be entered as url parameters (indicated by the `?` in the url)
* We can easily specify the query options using the `params` argument in the `.get` method
* In order to do this, set up a dictionary such that 
    * the key is the parameter name (indicated in the documentation)
    * the value is the our query choice
* `requests.get()` will automatically make sure that our parameters are formatted into valid urls

In [29]:
params = {'api_key':nasa_key,
          'start_date': '2023-10-01',
          'end_date': '2023-10-07'}

In [30]:
r = requests.get(base_url, params=params)

In [24]:
r.url

'https://api.nasa.gov/planetary/apod?api_key=CrP99j76YYTvZd7kjERfwcjB9pgPyLX5881ymDIS&start_date=2023-10-01&end_date=2023-10-07'

In [25]:
r.status_code

200

In [26]:
r.json()

[{'copyright': '\nMaxime Daviron\n',
  'date': '2023-10-01',
  'explanation': 'A good place to see a ring-of-fire eclipse, it seemed, would be from a desert. In a desert, there should be relatively few obscuring clouds and trees.  Therefore late December of 2019, a group of photographers traveled to the United Arab Emirates and Rub al-Khali, the largest continuous sand desert in world, to capture clear images of an unusual eclipse that would be passing over.  A ring-of-fire eclipse is an annular eclipse that occurs when the Moon is far enough away on its elliptical orbit around the Earth so that it appears too small, angularly, to cover the entire Sun. At the maximum of an annular eclipse, the edges of the Sun can be seen all around the edges of the Moon, so that the Moon appears to be a dark spot that covers most -- but not all -- of the Sun. This particular eclipse, they knew, would peak soon after sunrise.  After seeking out such a dry and barren place, it turned out that some of the most interesting eclipse images actually included a tree in the foreground, because, in addition to the sand dunes, the tree gave the surreal background a contrasting sense of normalcy, scale, and texture.  On Saturday, October 14, a new ring of fire will be visible through clear skies from a thin swath crossing both North and South America.',
  'hdurl': 'https://apod.nasa.gov/apod/image/2310/DesertEclipse_Daviron_2000.jpg',
  'media_type': 'image',
  'service_version': 'v1',
  'title': 'A Desert Eclipse',
  'url': 'https://apod.nasa.gov/apod/image/2310/DesertEclipse_Daviron_960.jpg'},
 {'copyright': '\nNicolas Escurat\n',
  'date': '2023-10-02',
  'explanation': 'Sometimes lightning occurs out near space.  One such lightning type is red sprite lightning, which has only been photographed and studied on Earth over the past 25 years.  The origins of all types of lightning remain topics for research, and scientists are still trying to figure out why red sprite lightning occurs at all.  Research has shown that following a powerful positive cloud-to-ground lightning strike, red sprites may start as 100-meter balls of ionized air that shoot down from about 80-km high at 10 percent the speed of light. They are quickly followed by a group of upward streaking ionized balls. Featured here is an extraordinarily high-resolution image of a group of red sprites. This image is a single frame lasting only 1/25th of a second from a video taken above Castelnaud Castle in Dordogne, France, about three weeks ago. The sprites quickly vanished -- no sprites were visible even on the very next video frame.',
  'hdurl': 'https://apod.nasa.gov/apod/image/2310/HiResSprites_Escurat_3000.jpg',
  'media_type': 'image',
  'service_version': 'v1',
  'title': 'Sprite Lightning in High Definition',
  'url': 'https://apod.nasa.gov/apod/image/2310/HiResSprites_Escurat_1080.jpg'},
 {'copyright': '\nNASA, \nESA, \nHubble, \nHLA;\nProcessing & Copyright: \nHarshwardhan Pathak\n',
  'date': '2023-10-03',
  'explanation': "Do you see the hourglass shape -- or does it see you?  If you can picture it, the rings of MyCn 18 trace the outline of an hourglass -- although one with an unusual eye in its center.  Either way, the sands of time are running out for the central star of this hourglass-shaped planetary nebula. With its nuclear fuel exhausted, this brief, spectacular, closing phase of a Sun-like star's life occurs as its outer layers are ejected - its core becoming a cooling, fading white dwarf. In 1995, astronomers used the Hubble Space Telescope (HST) to make a series of images of planetary nebulae, including the one featured here.  Pictured, delicate rings of colorful glowing gas (nitrogen-red, hydrogen-green, and oxygen-blue) outline the tenuous walls of the hourglass. The unprecedented sharpness of the Hubble images has revealed surprising details of the nebula ejection process that are helping to resolve the outstanding mysteries of the complex shapes and symmetries of planetary nebulas like MyCn 18.",
  'hdurl': 'https://apod.nasa.gov/apod/image/2310/Hourglass_HubblePathak_1080.jpg',
  'media_type': 'image',
  'service_version': 'v1',
  'title': 'MyCn 18: The Engraved Hourglass Planetary Nebula',
  'url': 'https://apod.nasa.gov/apod/image/2310/Hourglass_HubblePathak_1080.jpg'},
 {'copyright': '\nAbdullah Alharbi\n',
  'date': '2023-10-04',
  'explanation': "Does this nebula look like the head of a witch? The nebula is known popularly as the Witch Head Nebula because, it is said, the nebula's shape resembles a Halloween-style caricature of a witch's head. Exactly how, though, can be a topic of imaginative speculation.  What is clear is that IC 2118 is about 50 light-years across and made of gas and dust that points to -- because it has been partly eroded by -- the nearby star Rigel. One of the brighter stars in the constellation Orion, Rigel lies below the bottom of the featured image. The blue color of the Witch Head Nebula and is caused not only by Rigel's intense blue starlight but because the dust grains scatter blue light more efficiently than red.  The same physical process causes Earth's daytime sky to appear blue, although the scatterers in planet Earth's atmosphere are molecules of nitrogen and oxygen.",
  'hdurl': 'https://apod.nasa.gov/apod/image/2310/WitchHead_Alharbi_3051.jpg',
  'media_type': 'image',
  'service_version': 'v1',
  'title': 'IC 2118: The Witch Head Nebula',
  'url': 'https://apod.nasa.gov/apod/image/2310/WitchHead_Alharbi_1080.jpg'},
 {'copyright': 'Tunc Tezel',
  'date': '2023-10-05',
  'explanation': "Tracking along a narrow path, the shadow of a new moon will race across North, Central, and South America, on October 14. When viewed from the shadow path the apparent size of the lunar disk will not quite completely cover the Sun though. Instead, the moon in silhouette will appear during the minutes of totality surrounded by a fiery ring, an annular solar eclipse more dramatically known as a ring of fire eclipse. This striking time lapse sequence from May of 2012 illustrates the stages of a ring of fire eclipse. From before eclipse start until sunset, they are seen over the iconic buttes of planet Earth's Monument Valley. Remarkably, the October 14 ring of fire eclipse will also be visible over Monument Valley, beginning after sunrise in the eastern sky.",
  'hdurl': 'https://apod.nasa.gov/apod/image/2310/MoValleyEclipse.jpg',
  'media_type': 'image',
  'service_version': 'v1',
  'title': 'Ring of Fire over Monument Valley',
  'url': 'https://apod.nasa.gov/apod/image/2310/MoValleyEclipse1024.jpg'},
 {'copyright': 'Carnegie Institution for Science',
  'date': '2023-10-06',
  'explanation': 'How big is our universe? This question, among others, was debated by two leading astronomers in 1920 in what has since become known as astronomy\'s Great Debate.  Many astronomers then believed that our Milky Way Galaxy was the entire universe.  Many others, though, believed that our galaxy was just one of many.  In the Great Debate, each argument was detailed, but no consensus was reached.  The answer came over three years later with the detected variation of single spot in the Andromeda Nebula, as shown on the original glass discovery plate digitally reproduced here. When Edwin Hubble compared images, he noticed that this spot varied, and on October 6, 1923 wrote "VAR!" on the plate.  The best explanation, Hubble knew, was that this spot was the image of a variable star that was very far away. So M31 was really the Andromeda Galaxy -- a galaxy possibly similar to our own.  Annotated 100 years ago, the featured image may not be pretty, but the variable spot on it opened a window through which humanity gazed knowingly, for the first time, into a surprisingly vast cosmos.',
  'hdurl': 'https://apod.nasa.gov/apod/image/2310/HubbleVarOrig_Carnegie_2880.jpg',
  'media_type': 'image',
  'service_version': 'v1',
  'title': 'Edwin Hubble Discovers the Universe',
  'url': 'https://apod.nasa.gov/apod/image/2310/HubbleVarOrig_Carnegie_960.jpg'},
 {'date': '2023-10-07',
  'explanation': "This picture of Andromeda shows not only where stars are now, but where stars will be. The big, beautiful Andromeda Galaxy, M31, is a spiral galaxy a mere 2.5 million light-years away.  Image data from space-based and ground-based observatories have been combined here to produce this intriguing composite view of Andromeda at wavelengths both inside and outside normally visible light. The visible light shows where M31's stars are now, highlighted in white and blue hues and imaged by the Hubble, Subaru, and Mayall telescopes.  The infrared light shows where M31's future stars will soon form, highlighted in orange hues and imaged by NASA's Spitzer Space Telescope.  The infrared light tracks enormous lanes of dust, warmed by stars, sweeping along Andromeda's spiral arms.  This dust is a tracer of the galaxy's vast interstellar gas, raw material for future star formation.  Of course, the new stars will likely form over the next hundred million years or so. That's well before Andromeda merges with our Milky Way Galaxy in about 5 billion years.",
  'hdurl': 'https://apod.nasa.gov/apod/image/2310/M31_HubbleSpitzerGendler_2000.jpg',
  'media_type': 'image',
  'service_version': 'v1',
  'title': 'The Once and Future Stars of Andromeda',
  'url': 'https://apod.nasa.gov/apod/image/2310/M31_HubbleSpitzerGendler_960.jpg'}]

## Exchange Rates API

[Documentation](https://apilayer.com/marketplace/exchangerates_data-api)

Sign up for an API key:
* Go to [https://apilayer.com/marketplace/exchangerates_data-api](https://apilayer.com/marketplace/exchangerates_data-api)
* You'll have to verify your email address and sign in
* If you are taken back to the main page, search for "exchange rates" and click on "Exchange Rates Data API"
* Under Pricing, find "Free Plan" and click "Subscribe"
* If everything went well, you should then see a screen that says "Subscription successful" and "Your API Key"
* Copy your API key to the clipboard and then save it in a .txt file (choose a sensible name for the file like "`exchange_rates_apikey.txt`")
* **NEVER NEVER NEVER post your API key in a public place.  Anytime you use Git or GitHub with any API key, include the file with the key information in the `.gitignore` file**

### Authenticating 

The NASA API, wanted us to authenticate with the api-key as a parameter in the url.  However, the documentation for this API says that the API key should be specified in a **header**.
* Headers provide metadata about the request or response.  Some APIs (such as this one) require that the API key be specified in a header. 
    * Headers might also contain content type, return data type, user-agent, etc.  Generally the API documentation will specify 


### Endpoints
* `/convert`
* `/fluctuation`
* `/latest`
* `/symbols`
* `/timeseries`
* `/{date}`

Each endpoint has its own parameters (or sometimes no parameters).  As with many API endpoints, some parameters are required and others are optional.


#### Example
For example, let's look at the `/convert` endpoint.  There are three required parameters and one optional:
* amount (required) - amount to be converted
* from (required) - three-letter currency code for the currency you would like to convert from
* to (required) - three-letter currency code for the currency you would like to convert to
* date (optional) - specify a date to use historical rates (default is latest)

In [ ]:
## First, get the api key
with open('exchange_rates_apikey.txt', 'r') as file:
    apikey = file.read()

In [ ]:
# set up the headers
headers= {
  "apikey": apikey
}

In [ ]:
# specify base_url and endpoint url (or this could be done in one step)
base_url = "https://api.apilayer.com/exchangerates_data"
endpoint = '/convert'
url = base_url + endpoint

In [ ]:
# set up parameters.  I'm going to specify 35 Euros to US Dollars for Oct 8, 2023
params = {'amount':'35',
          'from':'EUR',
          'to':'USD',
          'date': '2023-10-08'}

In [ ]:
r = requests.get(url, headers=headers, params=params)
print(r.ok)
print(r.url)

In [ ]:
r.json()

## Wikipedia API

[API Documentation](https://www.mediawiki.org/wiki/API:Main_page)

Some APIs (and websites) want you to specify who you are through a `user-agent` parameter.  This can be the browser user-agent, but it can also be just a description of your project.  

The Wikipedia API requests that you specify the user-agent per their [policy](https://meta.wikimedia.org/wiki/User-Agent_policy).  The basic format is `Project name (email@email.com)`

In [ ]:
user_agent = 'Practice with APIs for Stat 386/0.0 (esnt@byu.edu)'
headers = {'User-Agent':user_agent}

In [ ]:
base_url = "https://en.wikipedia.org/w/api.php"
params = {'action':'query',
          'list':'search',
          'srsearch': 'Star Wars',
          'format': 'json'}

In [ ]:
r = requests.get(base_url, params=params)

In [ ]:
r.text

## The Movie Database (TMDb)

[Website](https://www.themoviedb.org/?language=en-US) and [API Documentation](https://developer.themoviedb.org/docs)

In [31]:
base_url = "https://api.themoviedb.org/3/search/movie"

with open('tmdb_api_key.txt', 'r') as file:
    apikey = file.readlines()[1].strip()

FileNotFoundError: [Errno 2] No such file or directory: 'tmdb_api_key.txt'

In [ ]:
headers = {
    "accept": "application/json",
    "Authorization": "Bearer " + apikey}

In [ ]:
results = []
for page in range(1,10,1):

    params = {'include_adult':'false',
            'language':"en-US",
            'query':'Star Wars',
            'page': str(page)}
    
    response = requests.get(base_url, headers=headers, params=params)

    print(response.status_code)
    if response.ok:
        results.extend(response.json()['results'])

In [ ]:
sw = pd.DataFrame(results)
sw = sw[['original_title','popularity','release_date','title','vote_average','vote_count']]

In [ ]:
sw.sort_values(by='popularity', ascending=False).head(10)

In [ ]:
sw[sw.vote_count>500].sort_values(by='vote_average', ascending=False).head(10)