In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
st = """The quick brown fox jumps over the lazy dog. 
My email is john.doe@example.com. 
My other email is random_student@university.edu.  
The date is 03/05/2024. 
The textbook will cost $30. It should be less than 40€.
This is a sample phone number (123) 456-7890.
Here is another sample (987)654-3210.
Provo's lat/lon coordinates are 40.2338N111.6585W"""

1. Find all the digits in the string `st`.

In [7]:
digits_pattern = r'\d+'

In [8]:
digits = re.findall(digits_pattern, st)

In [9]:
print(digits)

['03', '05', '2024', '30', '40', '123', '456', '7890', '987', '654', '3210', '40', '2338', '111', '6585']

2. Find all the phone numbers of the form `(XXX) XXX-XXXX` or `(XXX)XXX-XXXX` in the string `st`.

In [13]:
phone_pattern = r'\(\d{3}\) \d{3}-\d{4}|\(\d{3}\)\d{3}-\d{4}'

In [14]:
phone_numbers = re.findall(phone_pattern, st)

In [15]:
print(phone_numbers)

['(123) 456-7890', '(987)654-3210']

3. Find all the email addresses in the string `st`.

In [25]:
email_pattern = r'[a-zA-Z0-9._\-,:]+@[a-z A-Z 0-9]+\.[a-z]{3}'

In [26]:
email_addresses = re.findall(email_pattern, st)

In [27]:
print(email_addresses)

['john.doe@example.com', 'random_student@university.edu']

4. Create a regex pattern that extracts the year from a date formatted as `MM/DD/YYYY`.  Apply your pattern to the string `st`.

In [28]:
year_pattern = r'\d{2}/\d{2}/(\d{4})'

In [29]:
years = re.findall(year_pattern, st)

In [30]:
print(years)

['2024']

5.  Find all the values in `st` that represent currency in US Dollars.

In [40]:
dollars_pattern = r'(?<=\$)\d+'

In [41]:
dollars_currency = re.findall(dollars_pattern, st)

In [42]:
print(dollars_currency)

['30']

6. Find all the values `st` that represent currency in Euros (€)

In [43]:
euros_pattern = r'\d+(?=€)'

In [44]:
euros_currency = re.findall(euros_pattern, st)

In [45]:
print(euros_currency)

['40']

7. Extract the latitude and longitude from `st`.

In [55]:
coords_pattern = r'\d+\.\d+[nsewNSEW]\d+\.\d+[nsewNSEW]'

In [56]:
coordinates = re.findall(coords_pattern, st)

In [57]:
print(coordinates)

['40.2338N111.6585W']

8. Replace all the vowels in `st` with the character `*`

In [58]:
vowel_pattern = r'[aeiouAEIOU]'

In [59]:
sub_st = re.sub(vowel_pattern, "*", st)

In [60]:
print(sub_st)

Th* q**ck br*wn f*x j*mps *v*r th* l*zy d*g.
My *m**l *s j*hn.d**@*x*mpl*.c*m.
My *th*r *m**l *s r*nd*m_st*d*nt@*n*v*rs*ty.*d*.
Th* d*t* *s 03/05/2024.
Th* t*xtb**k w*ll c*st $30. *t sh**ld b* l*ss th*n 40€.
Th*s *s * s*mpl* ph*n* n*mb*r (123) 456-7890.
H*r* *s *n*th*r s*mpl* (987)654-3210.
Pr*v*'s l*t/l*n c**rd*n*t*s *r* 40.2338N111.6585W

## Regular expressions (and other cleaning tasks) with DataFrames

Load the data:
```python
url = 'https://github.com/esnt/Data/raw/main/MessyData/employeedata.csv'
df_employee = pd.read_csv(url)
```

1. Extract the first and last names from the "name" column and create two new variable called "first_name" and "last_name"
2. Extract the area code from the phone number column and create a new variable called "area_code" (assume the area code is always the first 3 digits)
3. Extract the year from the "birthdate" column and create a new variable called "birthyear"
4. Create a columns that is the height in inches
5. Create a column that contains the domain of the email addresses (e.g. "yahoo.com")
6. Extract the city and state from the "mailing_address" and create three new variables called "city", "state", and "zipcode"
7. Keep only the new variables that you created in (1.) - (6.) Your final dataset should look something like this:


| first_name | last_name | area_code | birthyear| ht_in| domain | city | state | zipcode |
|------------|-----------|-----------|----------|-------|-------|--------|-----|---------|
| Ryan | Wilkins | 851 | 1959 | 74 | hotmail.com | Port Victoria | MN | 71782

In [71]:
url = 'https://github.com/esnt/Data/raw/main/MessyData/employeedata.csv'
df_employee = pd.read_csv(url)